# When working on a local environemnt, please create a .env.local file overriding these values.

# Firebase configuration, to get access to these variables values, please refer to the
# Firebase console, under project settings.
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCA8JGKeRD_PAWSy69740FmxD8F35PeKeA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gandalf-web-dev.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gandalf-web-dev
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gandalf-web-dev.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=5399637675
NEXT_PUBLIC_FIREBASE_APP_ID=1:5399637675:web:2bda84dfea3ed17e0f11ee
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-HGRVVPBLCN

# Firebase console host, needed to avoid an error while updating the user token cookie 
# while using the emulator.
FIREBASE_AUTH_EMULATOR_HOST=

# Supported chains ids
NEXT_PUBLIC_SUPPORTED_CHAIN_IDS=13

# Key for the JWT library
JWT_SECRET=secret

# Blockchain APIs keys
INFURA_API_KEY=82dbba08010e47518002386b3516e040
ALCHEMY_API_KEY=